<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<main class="container">
  <div th:replace="~{fragments/nav-header.html :: navigation(isAuth=false)}"></div>

  <h1>New Product</h1>
  <form action="/product" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <br>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity">

    <br>
    <fieldset>
      <legend>Tags</legend>
      <label th:each="tag : ${tags}">
        <input th:value="${tag.id}" type="checkbox" name="tags">
        [[${tag.name}]]
      </label>
    </fieldset>

    <input type="submit" value="💾 Save">
  </form>
</main>
</body>
</html>
